APP_PORT=8000
MONGO_URI='mongodb://localhost:27017/eduBackend'

#MAILGUN
MAILGUN_API_KEY=''
MAILGUN_DOMAIN=''
MAILGUN_SENDER_EMAIL=''

#APP URL
APP_BASE_URL='http://localhost:4200/#/user/edit-survey'

#JWT INFO
JWT_SECRET=''
JWT_EXPIRE_TIME=''