APP_PORT=8000
MONGO_URI='mongodb://localhost:27017/eduBackend'

#MAILGUN
MAILGUN_API_KEY='28601a5f577916f5b8c5217ea149c1d0-2bf328a5-bfdb2e86'
MAILGUN_DOMAIN='sandboxe89a55aeed0849209caf19d145bd944e.mailgun.org'
MAILGUN_SENDER_EMAIL='akshaypratap403@gmail.com'

#APP URL
APP_BASE_URL='http://localhost:4200/#/user/edit-survey'

#JWT INFO
JWT_SECRET='sdfasdf348fj5586'
JWT_EXPIRE_TIME='1h'